<html>
<head>
	<title>udacity FS Nanodegree Project 3 - Catalog</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="header">
	<div class="title">
		<h1>Catalog</h1>
	</div>
	<div class="login">
		{% if user %}
		<div class="username">
			<div><p class="username">{{user.name}}</p></div>
			<a href="{{url_for('logoutUser')}}"><button style="float: right">Logout</button></a>
		</div>
		<div class="avatar">
			<img src="{{user.avatar}}" width="80" height="80" alt="Avatar">
		</div>
		{% else %}
		<a href="{{url_for('loginUser')}}"><button style="float: right">Login with GitHub</button></a>
		{% endif %}
	</div>
</div>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class = "flash">
	<ul>
	{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endwith %}